<!DOCTYPE html>
<html lang="en">
<head>

  <title>Парикмахерская</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
  <script src="https://vk.com/js/api/openapi.js?136" type="text/javascript"></script>
  <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'home' %>

</head>
<body id="page" data-spy="scroll" data-target=".navbar" data-offset="50">

<%= render partial: 'home/navbar' %>
<%= render partial: 'home/carousel' %>

<br/><br/>
<div id="services" class="container text-center">
  <h1>Услуги</h1>

  <div class="col-sm-12">
    <% @services.each_with_index do |service, i| %>
        <div class="col-sm-4">
          <a href="javascript:void(0)" onclick="showHide('<%= "prices#{i}" %>')">
            <% if service.photo %> <%= cl_image_tag(service.photo.path, :width => 360) %>
            <% end %>
            <h2><%= service.title %></h2>
          </a>
        </div>

    <% end %>
  </div>

  <div class="col-sm-12">
    <% @services.each_with_index do |service, i| %>
        <table class="table table-striped col-sm-12 text-left" style="display: none" id="<%= "prices#{i}" %>">
          <thead>
          <tr>
            <th>Услуга</th>
            <th>Стоимость</th>
          </tr>
          </thead>
          <tbody>
            <% service.prices.each do |price| %>
                <tr>
                  <td><%= price.name %></td>
                  <td><%= price.value %></td>
                </tr>
            <% end %>
          </tbody>
        </table>
    <% end %>
  </div>

</div>


<div id="sales" class="container text-center">
  <h1>Акции</h1>

  <div class="col-sm-12">
    <% @sales.each do |sale| %>
        <div class="col-sm-4">
          <div>
            <a href="<%= sale_path(sale) %>">
              <%= cl_image_tag(sale.photo.path, :width => 360) %>
              <h2><%= sale.title %></h2>
            </a>
          </div>
        </div>
    <% end %>

  </div>
</div>

<!-- Container (Contact Section) -->
<div id="contact" class="container">
  <h1 class="text-center">Контакты</h1>

  <div class="row">
    <div class="col-md-4">
      <p><img src="<%= asset_path("metro.png") %>" style="width: 5%">Каменная горка</p>
      <p><span class="glyphicon glyphicon-map-marker"></span>Ул. Траливали д. xxx</p>
      <p><span class="glyphicon glyphicon-phone"></span>Телефон: xxxxxxxxxx</p>
      <p><span class="glyphicon glyphicon-envelope"></span>Email: mail@mail.com</p>
    </div>
    <form class="col-md-8">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Ваше имя" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="phone" name="phone" placeholder="Ваш номер телефона" type="phone" required>
        </div>
      </div>
      <textarea class="form-control" id="comment" name="comment" placeholder="Ваши пожелания (не обязательно)" rows="5"></textarea>
      <br>
      <div class="row">
        <div class="col-md-12 form-group">
          <span id="call_me_status"></span>
          <input type="button" value="Перезвонить мне" class="btn pull-right" type="submit" onclick="call_me(this.form)"/>
        </div>
      </div>
    </form>
  </div>
  <br>
</div>

<div class="container" style="height: 300px; width: 100%; padding-bottom: 20px" id="map"></div>

<script>
  VK.init({
    apiId: 5749295,
    onlyWidgets: true
  });
</script>


<div style="width: 100%" id="vk_comments"></div>
<script type="text/javascript">
  VK.Widgets.Comments('vk_comments');
</script>

<script type="text/javascript" src="https://w11145.yclients.com//widgetJS" charset="UTF-8"></script>

<footer class="text-center">
  <a class="up-arrow" href="#page" data-toggle="tooltip" title="Наверх">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
</footer>

</body>
</html>
