<%= form_for @price, :html => { :class => "form-horizontal price" } do |f| %>

  <% if @price.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@price.errors.count, "error") %> prohibited this price from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @price.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :value, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :value, :class => 'form-control' %>
    </div>
    <%=f.error_span(:value) %>
  </div>
  <div class="form-group">
    <%= f.label :service_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :service_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:service_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                prices_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
